<p>
  Estimado/a <%= @user.name %>, 

  	A continuacion encontrara los datos necesarios para ingresar a su cuenta de Barbara Gurman Estetica

  	Usuario: <%= @user.email %>
  	Password: <%= @password %>
</p>