
<html>
<body>
<div class="menu_content">
	<h1>Menu</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src=""/>
				<p>Pacientes</p>
			</div>
			<div class="col-md-4">
				<img src=""/>
				<p>Medicos</p>
			</div>
			<div class="col-md-4">
				<a href="/equipos"><img src=""/>
				<p>Equipos</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src=""/>
				<p>Buscar</p>
			</div>
			<div class="col-md-4">
				<img src=""/>
				<p>Usuarios</p>
			</div>
			<div class="col-md-4">
				<img src=""/>
				<p>Contacto</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>