
<html>
<body>
<div class="menu_content">
	<h1 style="text-align: center;">Menu</h1>
	<div class="container">
				<a href="/pacientes"><span style="background-color: #375E95;">Pacientes</span></a>
				<a href="/medicos"><span style="background-color: #FB6542;">Medicos</span></a>
				<a href="/equipos"><span style="background-color: #FFBB00;">Equipos</span></a>
				<a href="/menu/buscar"><span style="background-color: #324851;">Buscar</span></a>
				<a href="#"><span style="background-color: #BCBABE;">Usuarios</span></a>
				<a href="#"><span style="background-color: #1995AD;">Contacto</span></a>
	</div>
</div>
</body>
</html>