/* line 6, /Users/Lichus/Documents/proyectos/bg-estetica/bgestetica/app/assets/stylesheets/menu.scss */
.menu_content {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #a7cfdf;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  /* IE6-9 */
}
/* line 18, /Users/Lichus/Documents/proyectos/bg-estetica/bgestetica/app/assets/stylesheets/menu.scss */
.menu_content h1 {
  margin-top: 15vh;
  color: white;
}
/* line 22, /Users/Lichus/Documents/proyectos/bg-estetica/bgestetica/app/assets/stylesheets/menu.scss */
.menu_content span {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  float: left;
  border-radius: 5px;
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  line-height: 150px;
  font-size: 150%;
}

/* line 44, /Users/Lichus/Documents/proyectos/bg-estetica/bgestetica/app/assets/stylesheets/menu.scss */
.event a {
  background-color: #42B373;
}
