<html>
<head>
<meta name="viewport" content="widht=device-width, initial-scale=1">
<head>
<body>

<div id="seccion-principal" class="container-fluid">
		<div src="" class="img-responsive" alt="Imagen responsive">
</div>
<div id="seccion-nosotros" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6">Quienes somos</div>
		<div class="col-xs-12 col-md-6">Panel derecho</div>
	</div>
</div>
<div id="seccion-tratamientos" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6">tratamiento 1</div>
		<div class="col-xs-12 col-md-6">Panel derecho</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">tratamiento 1</div>
		<div class="col-xs-12 col-md-6">Panel derecho</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">tratamiento 1</div>
		<div class="col-xs-12 col-md-6">Panel derecho</div>
	</div>
</div>
<div id="seccion-contacto" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6">Contacto</div>
		<div class="col-xs-12 col-md-6">Mapita</div>
	</div>
</div>
</body>
</html>