
  <%= stylesheet_link_tag    'index' %>

<div class="index-contenedor-fondo">
<%= image_tag("fondo", class: "imagen-fondo") %>
</div>




<!--<%= button_to 'asignar colores', events_asignar_colores_path, method: :post %>-->





