

<div id="scheduler_here" class="dhx_cal_container" style='margin-top: 10vh; position: absolute; width:100%; height:900px;'>


 <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>

 </div>
 <div class="dhx_cal_header">
 </div>
 <div class="dhx_cal_data">
 </div>
</div>

<div id="formulario"></div>

<script>
  
    var dias_bloqueados = <%= @fechas_bloqueadas.html_safe %>;

// we can block specific dates


    scheduler.config.multi_day = true;
    scheduler.config.xml_date = "%Y-%m-%d %H:%i";
    scheduler.config.first_hour = 8;
    scheduler.config.last_hour = 20;
    scheduler.config.time_step  = 30;
    scheduler.config.details_on_create = true;
    scheduler.ignore_week = function(date){
        if (date.getDay() == 7 || date.getDay() == 0) //hides Saturdays and Sundays
            return true;
    };
    scheduler.init("scheduler_here");


    scheduler.config.show_loading = true;
    //scheduler.parse(JSON.stringify(data), "json");


  

    var block_to = new Date(Date.now());

  var time_id = scheduler.addMarkedTimespan({
       start_date: new Date(2017-08-10),
       end_date: new Date(Date.now()),
       type: "dhx_time_block"
    });

scheduler.attachEvent("onBeforeViewChange", function(old_mode,old_date,mode,date){
    if(time_id) 
      scheduler.deleteMarkedTimespan(time_id);
    
  
    var view_from = scheduler.date[mode + "_start"](new Date(date));
    var view_to = scheduler.date.add(view_from, 1, mode);
  
    time_id = scheduler.addMarkedTimespan({
       start_date: view_from,
       end_date: new Date(Math.min(+block_to, +view_to)),
       type: "dhx_time_block"
    });
  
    return true;
});


    scheduler.updateView();
    var dp = new dataProcessor("<%= db_action_path %>");







    dp.init(scheduler);
    
    dp.setTransactionMode("GET", false);
    dp.action_param = "dhx_editor_status";


    //marks and blocks dates

//prueba con arra
//var dias_bloqueados = [{"start_date":"2017-09-04,11:00","end_date":"2017-09-04,12:30"},{"start_date":"2017-09-07,08:30","end_date":"2017-09-07,10:30"},{"start_date":"2017-09-14,09:00","end_date":"2017-09-14,09:30"},{"start_date":"2017-09-12,10:30","end_date":"2017-09-12,12:00"}];

var index,len
for (index = 0, len = dias_bloqueados.length; index < len; ++index) {
    bloquear = {
    start_date: new Date(dias_bloqueados[index].start_date),
    end_date: new Date(dias_bloqueados[index].end_date),
    type: "dhx_time_block",
    html: "No disponible",
    css: "dias_bloqueados"
    }
    console.log(bloquear);
    scheduler.addMarkedTimespan(bloquear);
};




scheduler.updateView();
//scheduler.addMarkedTimespan(bloqueos);


// block time

// Setting up holidays
      // var holidays = [ new Date(2017, 7, 4), new Date(2017,7,7), new Date(2017,7,30) ];
      // for (var i=0; i<holidays.length; i++) {
      //   var date = holidays[i];
      //   var options = {
      //     start_date: date,
      //     end_date: scheduler.date.add(date, 1, "day"),
      //     type: "dhx_time_block", /* creating events on those dates will be disabled - dates are blocked */
      //     css: "holiday",
      //     html: "Holiday"
      //   };
      //   scheduler.addMarkedTimespan(options);
      // }


var html = function(id) { return document.getElementById(id); }; //just a helper
var paciente = <%= current_user.id %>;

    scheduler.showLightbox = function(id) {
      var ev = scheduler.getEvent(id);
      console.log(ev);
      scheduler.startLightbox(id, null);
      scheduler.hideCover();
      $.ajax({
        url:'/events/evento_paciente',
        dataType: 'script',
        type: 'POST',
        data:{
            id: id,
            start_date: ev.start_date,
            end_date: ev.end_date,
            text: ev.text

        },
        error:function(data){
            debugger;
        }
    });
    };

</script>
