

<%= javascript_include_tag "locale_es" %>
<div id="scheduler_here" class="dhx_cal_container" style='margin-top: 10vh; position: absolute; width:100%; height:900px;'>


 <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>

 </div>
 <div class="dhx_cal_header">
 </div>
 <div class="dhx_cal_data">
 </div>
</div>

<div id="formulario"></div>

<script>
  
    var dias_bloqueados = <%= @fechas_bloqueadas.html_safe %>;

// we can block specific dates


    scheduler.config.multi_day = true;
    scheduler.config.xml_date = "%Y-%m-%d %H:%i";
    scheduler.config.first_hour = 8;
    scheduler.config.last_hour = 20;
    scheduler.config.time_step  = 60;
    scheduler.config.details_on_create = true;
    scheduler.ignore_week = function(date){
        if (date.getDay() == 7 || date.getDay() == 0) //hides Saturdays and Sundays
            return true;
    };
    scheduler.init("scheduler_here");


    scheduler.config.show_loading = true;
    //scheduler.parse(JSON.stringify(data), "json");

cargar_datos();
  
  function cargar_datos(){
  var block_to = new Date(Date.now());
  var time_id = scheduler.addMarkedTimespan({
       start_date: new Date(2017-08-10),
       end_date: new Date(Date.now()),
       type: "dhx_time_block"
    });

scheduler.attachEvent("onBeforeViewChange", function(old_mode,old_date,mode,date){
    if(time_id) 
      scheduler.deleteMarkedTimespan(time_id);
    
  
    var view_from = scheduler.date[mode + "_start"](new Date(date));
    var view_to = scheduler.date.add(view_from, 1, mode);
  
    time_id = scheduler.addMarkedTimespan({
       start_date: view_from,
       end_date: new Date(Math.min(+block_to, +view_to)),
       type: "dhx_time_block"
    });
  
    return true;
});


scheduler.updateView();
var dp = new dataProcessor("<%= db_action_path %>");
dp.init(scheduler);
dp.setTransactionMode("GET", false);
dp.action_param = "dhx_editor_status";


//marcar y bloquear fechas
var index,len
for (index = 0, len = dias_bloqueados.length; index < len; ++index) {
    bloquear = {
    start_date: new Date(dias_bloqueados[index].start_date),
    end_date: new Date(dias_bloqueados[index].end_date),
    type: "dhx_time_block",
    html: "No disponible",
    css: "dias_bloqueados"
    }
    console.log(bloquear);
    scheduler.addMarkedTimespan(bloquear);
};

scheduler.updateView();
//scheduler.addMarkedTimespan(bloqueos);

}




var html = function(id) { return document.getElementById(id); }; //just a helper
var paciente = <%= current_user.id %>;

    scheduler.showLightbox = function(id) {
      var ev = scheduler.getEvent(id);
      console.log(ev);
      scheduler.startLightbox(id, null);
      scheduler.hideCover();
      $.ajax({
        url:'/events/evento_paciente',
        dataType: 'script',
        type: 'POST',
        data:{
            id: id,
            start_date: ev.start_date,
            end_date: ev.end_date,
            text: ev.text

        },
        error:function(data){
            debugger;
        }
    });
    };


//Que quiero que haga cuando cancelo el modal
$("#formulario").on("hidden.bs.modal", function () {
  scheduler.clearAll();
  scheduler.updateView();
  console.log("funciona");
  cargar_datos();
});

</script>
