
<head>

</head>
<div id="scheduler_here" class="dhx_cal_container" style='margin-top: 10vh; position: absolute; width:100%; height:900px;'>


 <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>

 </div>
 <div class="dhx_cal_header">
 </div>
 <div class="dhx_cal_data">
 </div>
</div>



<script>
    var data = <%= @events.html_safe %>;
    

// we can block specific dates


    scheduler.config.multi_day = true;
    scheduler.config.xml_date = "%Y-%m-%d %H:%i";
    scheduler.config.first_hour = 8;
    scheduler.config.last_hour = 20;
    scheduler.config.time_step  = 30;
    scheduler.config.details_on_create = true;

    scheduler.init("scheduler_here");


    scheduler.config.show_loading = true;
    scheduler.parse(JSON.stringify(data), "json");
    scheduler.getEvent(64).readonly = true;
    scheduler.updateView();
    var dp = new dataProcessor("<%= db_action_path %>");

    dp.init(scheduler);
    
    dp.setTransactionMode("GET", false);
    dp.action_param = "dhx_editor_status";


    //marks and blocks dates

//prueba con array


scheduler.addMarkedTimespan({
  start_date: new Date(2017, 9, 13, 8),
  end_date: new Date(2017, 9, 13, 20),
  css: "gray"
});


//scheduler.addMarkedTimespan(bloqueos);

scheduler.updateView();
// Setting up holidays
      // var holidays = [ new Date(2017, 7, 4), new Date(2017,7,7), new Date(2017,7,30) ];
      // for (var i=0; i<holidays.length; i++) {
      //   var date = holidays[i];
      //   var options = {
      //     start_date: date,
      //     end_date: scheduler.date.add(date, 1, "day"),
      //     type: "dhx_time_block", /* creating events on those dates will be disabled - dates are blocked */
      //     css: "holiday",
      //     html: "Holiday"
      //   };
      //   scheduler.addMarkedTimespan(options);
      // }


</script>
