
@import "bootstrap";
@import "font-awesome";
@import "menu";
@import "equipos";
@import "home";
@import "scaffolds";
@import "dhtmlxscheduler";
@import "dhtmlxcombo";
@import "sessions";
@import "events";
@import "medico_index";
@import "pacientes";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html, body {
    height: 100%; /* IMPORTANT!!! stretches viewport to 100% */
}
body{
	margin-top: 10vh;
}


.scaffold_links{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 150%;
	color: white;
}


.datepicker table tr td.disabled{
	background-color: #FF6C6C;
}

.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}


#my_form {
			position: absolute;
			top: 100px;
			left: 200px;
			z-index: 10001;
			display: none;

		}

.navbar{
	background-color: white;
}

.flash-message{
	
	background-color: rgba(100,100,100,0.5);
	text-align: center;
}

ul a:hover { 
		background-color: white !important; 
		border-bottom: 2px solid lightgrey;
		}
