// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#overlay{
	display: fixed;
	visibility:hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 10002;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5%;
}

#overlay div{
	width: 350px;
	margin: 5px auto;
	background-color: rgb(220,200,200);
	text-align: center;
}

.search_button{
	z-index: 10001;
	display: fixed;
	top: 30%;
	right: 1%;
	width: 40px;
	height: 40px;
	background-color: rgba(220,220,220,0.5);
	transition: all 1s ease;
	position: absolute;
	border-radius: 50%;
	img{
		width: 60%;
		height: 60%;
		top: 20%;
		left: 20%;
		position: relative;
	}
	div{
		display: none;
		width: 0%;
	}
}

.search_button:hover{
	width: 200px;
	height: 200px;
	border-radius: 5%;
	img{
		display: none;
	}
	div{
		display: block;
		width: 100%;
		top: 20%;

		text-align: center;
		position: relative;
	}
}

.odd{
	background-color: #CFCACA;
}

.search_input{
	display: block;
	position: relative;
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
	input{
		height: 20px;
	}

}

.search_input_button{
		height: 15px;
		width: 100px;
		background-color: #5CA5EC;
		color: white;
		border: none;
		border-radius: 3%;
}

#turnos_resultados{
	table{
	margin:0px;padding:0px;
	width:80%;
	margin-left: 10%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
	
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
	thead{
		background-color: #5CA5EC;
	}
	tr, td{
	white-space: nowrap;
	}
	th, td {
    	padding: 5px;
    	text-align: center;
    	}
	}
}
#seccion-principal{
	height: 100vh;
}
#seccion-nosotros{
	height: 100vh;
}
#seccion-terapias{
	height: 100vh;
}

#seccion-contacto{
	height: 100vh;
}

.tratamientos-imagenes{
	width: 100%;
	height: 100%;
	margin-left: 100%;
	visibility: hidden;
}
.tratamientos-imagenes.mostrar{
	margin: 0 auto;
	transition: all 2s ease;
	visibility: visible;
}

.seccion-texto{
	text-align: justify;
	width: 70%;
	margin: 0 auto;
	h1{
		text-align: center;
	}
}

      #map {
      	margin: 10% auto;
        width: 400px;
        height: 300px;
        background-color: #CCC;
      }


.contacto-icono{
	width: 30px;
	height: 30px;
	background-color: purple;
	float: left;
}      