// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#overlay{
	display: fixed;
	visibility:hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 10002;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5%;
}

#overlay div{
	width: 350px;
	margin: 5px auto;
	background-color: rgb(220,200,200);
	text-align: center;
}

.search_button{
	z-index: 10001;
	display: fixed;
	top: 30%;
	width: 30px;
	height: 30px;
	background-color: rgba(100,150,200,0.5);
	transition: all 1s ease;
	position: absolute;
	border-radius: 50%;
	div{
		display: none;
		width: 0%;
	}
}

.search_button:hover{
	width: 200px;
	height: 200px;
	border-radius: 5%;
	div{
		display: block;
		width: 100%;
	}
}