.boxes-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

#proximos_turnos {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
#proximos_turnos caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
#proximos_turnos tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
#proximos_turnos th,
#proximos_turnos td {
  padding: .625em;
  text-align: center;
}
#proximos_turnos th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  #proximos_turnos {
    border: 0;
      font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  }
  #proximos_turnos caption {
    font-size: 1.3em;
  }
  #proximos_turnos thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #proximos_turnos tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  #proximos_turnos td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
   #proximos_turnos td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
   #proximos_turnos td:last-child {
    border-bottom: 0;
  }
}

.medico-home-titulos{
  margin-top: 5%;
}

.boxes-container-eventos-pasados-fecha_desde{
  display: block;
}
.boxes-container-eventos-pasados-fecha_hasta{}
.boxes-container-eventos-pasados-equipo{
  display: block;
  color: orange;
  text-align: center;
  font-size: 3em;
}
.boxes-container-eventos-pasados-confirmar{
  color: grey;
  margin-right: 0;
  text-align: right;
}
.boxes-container-eventos-pasados-cancelar{
  color: grey;
  margin-left: 0;
  text-align: left;
}