<% content_for :stylesheets do %>

	#right_menu {position: fixed; width: 20%; margin: 0; padding: 0;height: 100%; background-color: black; color: white}
<% end -%>
<% content_for :content do %>
	<div id="right_menu">
		<ul>
			<li><a href="">Pacientes</a></li>
			<li><a href="">Medicos</a></li>
			<li><a href="">Equipos</a></li>
			<li><a href="">Buscar</a></li>
			<li><a href="">Usuarios</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
	</div>
	<%= content_for?(:menu_content) ? yield(:menu_content) :yield %>
	<% end -%>
	<%= render template: "layouts/application" %>